In [13]:
#print statement
print("hello , pyhton !") # display function , first step in python

hello , pyhton !

In [9]:
# assignment statement
movie_name="The Iron Man"

In [11]:
movie_name

'The Iron Man'

In [15]:
# a variable is a temporary storage space
movie_name="BatMan"
movie_name

'BatMan'

In [17]:
# way to address variable
_2=0
hello = 2
a = 90

In [19]:
#built in functions 
A = 10
print(A) #THIS FUNCTION IS DISPLAY THE STORED VALUE IN VARIABLE

10

In [3]:
if 5>2 : # condition 
    print("5 is greater than 2")

5 is greater than 2

In [7]:
# value assignment to the variable and display statement
x = 5 # integer type data
y = "python" #sting type data
print(x)
print(y)

5
python

In [21]:
#TYPE() it will tell the data type of the value stored in variable
a = 23.99
type(a)

float

In [27]:
#simiplarly 
b=23
c="23"
d=True
e=3+5j
type(b)
type(c)
type(d)# here type () will not work boz it will only work only when its in last of the code block 
type(e)# in this case use print statement

complex

In [25]:
b=23
c="23"
d=True
type(b)
type(c)
type(d)
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>
<class 'str'>

In [29]:
w=input("enter the statement") # tis one of the three basic built in function , to get user input

enter the value "I'm IRON MAN"

In [33]:
#to change one type of input data into another datatype use type casting
a=input("enter the value")
print(type(a))
a=int(a)
print(type(a))# this how we change datatype after input()

enter the value 45

<class 'str'>
<class 'int'>

# __ ARTHIMATIC OPERATIONS __
  __ + , - , / , * , // , % ,** __
  +  Addition <br>
  -  subraction<br>
  > / - division , gives the output for 10/2=5 <br>
  > % - modulus , gives the output for 5%2=1 which is the remainder <br>
  > // - floor division , if 15//2 = 7 (ans is 7.5 , this rounds the value to the nearest whole no.)  <br>
  > ** - power of <br>

In [38]:
A=12
a=A+9
print(a)

21

In [40]:
B=12.8
b=B-15
print(b)

-2.1999999999999993

In [42]:
C=46
c=C/3
print(c)

15.333333333333334

In [53]:
c=46//3
print(c)

15

In [44]:
D=78
d=d*2
print(d)

2

In [49]:
a=5
a=a**2
print(a)

25

In [61]:
 #shorthand
e=35
e+=2
print(e)

37

In [59]:

e=35
e-=3
print(e)

32

In [63]:
e=35
e/=3
print(e)

11.666666666666666

In [65]:
e=35
e//=3
print(e)

11

In [67]:
e=35
e**=3
print(e)

42875

# COMPARISION OPERATIONS (relational operators)<BR>
__<,>,<=,>=,!=,==__ <BR>
- <  less than <br>
- > (>) greater than <br>
- <= lesser than or equal to <br>
- > (>=) greater than or equal to <br>
- == checking the condition <br>
- != not equal to <br>

In [70]:
#comparision operators will return the values in either True or False [boolean values]
a=20
b=34

In [72]:
a==b

False

In [76]:
a!=b

True

In [78]:
a<b

True

In [80]:
a>b

False

In [82]:
a<=b

True

In [84]:
a>=b

False

# logical operators <br>
- and <br>
- or  <br>
- not <br>

In [89]:
a = 45
b = 56

In [91]:
# for and operator both the conditions should be true 
a<b and a!=b

True

In [93]:
a>b and a!=b

False

In [99]:
# for or operator any one of the condition should be true 
a<b or a==b

True

In [97]:
a>b or a==b

False

# BITWISE OPERATOR <BR>
- &_and<BR>
- |_or<BR>
- ^_xor <BR>
- <<_left shift operator  <BR>
- (>>) right shift operator<br>
- ~_negation operator<br>

In [113]:
a=10
b=20
#a&b , gives result in binary value
print(a&b)

0

In [115]:
a=17
b=24
#a&b , gives result in binary value and then into decimal value
print(a&b)

16

In [117]:
a=34
b=46
print("The value of a is", a ,"and The value of b is ",b)
print(a&b)
print(a|b)
print(a^b)#gives result in binary value and then into decimal value

The value of a is 34 and The value of b is  46
34
46
12

In [121]:
#~ 
print(~12)

-13

In [123]:
a=89
print(a<<3)

712

In [125]:
b=98
print(b>>3)

12

In [127]:
#member ship operator
string="today is a goodday"
print("today" in string)
print("monday" not in string)
# this returns result in boolean datatype

True
True

Write a Python program to print the following pattern:
 *
 * *
 * * *
 * * * * 
 * * * * *

In [174]:
# method 1) using print function
p1="*"
p2= "* *"
p3= "* * *"
p4= "* * * *"
p5= "* * * * *"
print(p1)
print(p2)
print(p3)
print(p4)
print(p5)

*
* *
* * *
* * * *
* * * * *

In [187]:
# method 1)
p1="*"
p2= "* *"
p3= "* * *"

print(p1)
print(p2)
print(p2)
print(p1)
print(p3)
print(p1)
print(p2)
print(p2)
print(p1)

*
* *
* *
*
* * *
*
* *
* *
*

In [209]:
a='Malayalam'
a[-9:9] #

'Malayalam'

In [211]:
a=' Malayalam'
a[: :-1]

'malayalaM '

In [213]:
b='coimbatore'
b[0:11]

'coimbatore'

In [215]:
c=' hello'
c[5:0:-1]

'olleh'